﻿/* start da css for da buttons */
        .btn {
          border-radius: 5px;
          padding: 15px 20px;
          color: #fff;
          position: relative;
          display: inline-block;
        }


        .blue {
          background-color: #55acee;
          box-shadow: 0px 5px 0px 0px #3C93D5;
        }

        .blue:hover {
          background-color: #6FC6FF;
        }

        .green {
          background-color: #2ecc71;
          box-shadow: 0px 5px 0px 0px #15B358;
        }

        .green:hover {
          background-color: #48E68B;
        }

        .red {
          background-color: #e74c3c;
          box-shadow: 0px 5px 0px 0px #CE3323;
        }

        .red:hover {
          background-color: #FF6656;
        }

        .purple {
          background-color: #9b59b6;
          box-shadow: 0px 5px 0px 0px #82409D;
        }

        .purple:hover {
          background-color: #B573D0;
        }

        .orange {
          background-color: #e67e22;
          box-shadow: 0px 5px 0px 0px #CD6509;
        }

        .orange:hover {
          background-color: #FF983C;
        }

        .yellow {
          background-color: #f1c40f;
          box-shadow: 0px 5px 0px 0px #D8AB00;
        }

        .yellow:hover {
          background-color: #FFDE29;
        }